/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
} */


body {
    background-color: #bbd0ae;
    /* vertical-align: middle; */

}



.fRowContainer {
    height: 20rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid rgb(29, 0, 50);
    border-radius: 10px;
}

img {
    height: 13rem;
    width: 13rem;
}

.FHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

#rock {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    /* margin: 0 5rem 0 0; */
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

#rock:hover {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    background-color: rgb(209, 209, 209);
}


#paper {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    /* margin: 0 5rem 0 0; */
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

#paper:hover {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    background-color: rgb(209, 209, 209);
}


#scissors {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    margin: 0 0 0 0;
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

#scissors:hover {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    background-color: rgb(209, 209, 209);
}

.sRowContainer {
    height: 25rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;

}

.sColContainer1 {
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.sColContainer2 {
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.sColContainer3 {
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yChoice {
    margin: -20px 0px;
}

.SImageS {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    background-color: rgb(209, 209, 209);
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    /* margin: 0 5rem 0 0; */
    cursor: pointer;
    transition: 0.4s;
}

.SImageS2 {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0 50px;
    background-color: rgb(209, 209, 209);
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    /* margin: 0 5rem 0 0; */
    cursor: pointer;
    transition: 0.4s;
}

.SImageS3 {
    border: 0.3rem solid rgb(0, 0, 0);
    border-radius: 2.8rem;
    margin-bottom: 20px;
    margin-right: 40px;
    padding: 0 50px;
    background-color: rgb(209, 209, 209);
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    /* margin: 0 5rem 0 0; */
    cursor: pointer;
    transition: 0.4s;
}

/* .TextCon {
    display: flex;
    justify-content: right;
    margin: -10px 10px 10px 0;
} */

.resetBtn {
    height: 2rem;
    width: 5rem;
    background-color: white;
    color: #000000;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.rthirdContainer {
    text-align: center;
    border: 5px solid white;
    border-radius: 1rem;
    width: 25rem;
    margin: 0 auto;
    padding: 10px;
}

.rtCol1,
.rtCol2 {
    margin-top: 0px;
    font-size: 2rem;
    padding: 1.5px;
}



#count1,
#count2 {
    font-size: 2rem;
    color: rgb(234, 0, 255);
}

.VS,
p {
    margin: 0;
    text-align: center;
}



@media screen and (max-width:920px) {
    img {
        height: 4rem;
        width: 4rem;
    }


    .fRowContainer{
        height: 10rem;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 10px auto;
        padding: 0 10px;
        border: 3px solid black;
    }
    .sRowContainer {
        height: 10rem;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 10px auto;
        padding: 0 10px;
    }

    #rock,
    #paper,
    #scissors {
        height: 7.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        /* margin: 0 5rem 0 0; */
        background: none;
        cursor: pointer;
        border: none;
        transition: 0.4s;
    }

    #rock:hover,
    #paper:hover,
    #scissors:hover {
        border: 0.1rem solid rgb(0, 0, 0);
        border-radius: 2.4rem;
        margin-bottom: 20px;
        background-color: rgb(209, 209, 209);
    }

    .SImageS2 {
        border: 3px solid black;
        border-radius: 2.4rem;
        background-color: rgb(209, 209, 209);
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16.9rem;
        cursor: pointer;
        transition: 0.4s;
    }

    #count1,
    #count2 {
        font-size: 1rem;
        color: rgb(234, 0, 255);
    }

    .sColContainer1,
    .sColContainer2,
    .sColContainer3 {
        height: 8rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin: 0px auto;
    }

    .VS,
    p {
        margin: 0;
        font-size: 1.1rem;
        text-align: center;
    }

    .resetBtn {
        height: 35px;
        width: 50px;
        background-color: white;
        color: #000000;
        margin: 0px 6px;
        font-size: 0.7rem;
        border: 2px solid black;
        border-radius: 4px;
        cursor: pointer;
    }

    .FHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        margin: 0 auto;
    }

    .rthirdContainer {
        text-align: center;
        border: 5px solid white;
        border-radius: 1rem;
        width: 15rem;
        margin: 5px auto;

    }

    .rtCol1,
    .rtCol2 {
        margin-top: 0px;
        font-size: 1rem;
        padding: 1.5px;
    }
}